@charset "UTF-8";
/*レスポンシブ対応　参考URL*/
/*https://www.site-convert.com/archives/1528#outline__1*/
/*https://www.webdesignleaves.com/wp/htmlcss/450/*/


.all-margin {
	margin: 50px;
}


/* スマホ用のCSSはメディアクエリの外に記述する */


img {
	width: 100%;
  }
h1.title {
	font-size: 10px;
	}
h2.title {
	font-size: 8px;
	}
.main-text {
	font-size: 6px;
	line-height: 1.5;
	}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
	img {
		max-width: 481px;
		}
	h1.title {
		font-size: 22px;
		}
	h2.title {
		font-size: 18px;
		}
	.main-text {
		font-size: 15px;
		}
}


@media screen and (min-width: 651px) {
	/* 481px以上に適用されるCSS（中画面用） */
	img {
		max-width: 651px;
		}
	h1.title {
		font-size: 24px;
		}
	h2.title {
		font-size: 20px;
		}
	.main-text {
		font-size: 16px;
		}
}

@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（大画面用） */
	img {
		max-width: 960px;
		}
	h1.title {
		font-size: 26px;
		}
	h2.title {
		font-size: 22px;
		}
	.main-text {
		font-size: 17px;
		}
}




/* index コンテンツリンク */
.list ul {
	/*text-align: center;*/
	margin-left: -10px;
	font-size: 0; /* タグ改行時の空白防止 */
}
.list ul li{
	display: inline-block;
	margin-left: 10px;
	font-size: 14px; /* ulでサイズ0にしたのを戻す */
}

