
/* スマホ用のCSSはメディアクエリの外に記述する */
img {
	width: 100%;
  }

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
	img {
		max-width: 481px;
	  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
	img {
		max-width: 960px;
	  }
}




.list ul {
	/*text-align: center;*/
	margin-left: -10px;
	font-size: 0; /* タグ改行時の空白防止 */
}
 
.list ul li{
	display: inline-block;
	margin-left: 10px;
	font-size: 14px; /* ulでサイズ0にしたのを戻す */
}

.mgr-10{
	margin-right:10px;
}


.indent{
	/*
	margin-left:1em;
	text-indent:-1em;
	*/
	padding-left:2em;
}